@import "tailwindcss";
@import "tailwindcss-primeui";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@utility card-shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1)
}
